<footer class="footer">
    <div class="footer__contenedor">
        <div class="bandera">
            <a href="../index.html"><img class="bandera__img" src="../assets/images/bandera favicon.png" alt="Bandera Portugal"></a>
        </div>
        <div class="bloqueLegal">
            <ul class="bloqueLegal__politicas">
                <li class="bloqueLegal__link"><a href="#">Aviso legal</a></li>
            </ul>
        </div>
        <div class="RRSS">
            <ul class="RRSS__contenedor">
                <li class="RRSS__link"><a href="#" title="Ir a Instagram"><img class="RRSS__img" src="../assets/images/instagram.svg" alt="Logo Instagram"></a></li>
                <li class="RRSS__link"><a href="#" title="Ir a Facebook"><img class="RRSS__img" src="../assets/images/facebook.svg" alt="Logo Facebook"></a></li>
                <li class="RRSS__link"><a target="_blank" href="" title="Dirección"><img class="RRSS__img" src="../assets/images/ubicacion.svg" alt="Logo Maps"></a></li>
            </ul>
        </div>
    </div>
</footer>

