:root {
    /* Definir las variables de las fuentes */
    --ruta-font-Montserrat: url(/src/assets/fonts/Montserrat/static/Montserrat-Regular.ttf);

    /* Definir las variables de colores */
    --fondo: rgba(149, 71, 71, 0.781);
    --fondo__video: rgba(149, 71, 71, 0.582);
    --texto: rgb(33, 33, 33);
    --titulo__video: rgba(255, 217, 0, 0.781);
    --texto__video:rgb(255, 217, 0);
    --enlace:  rgb(0, 67, 106);
    --hover: rgba(149, 71, 71, 0.781);

    --blanco__Sintra: rgb(255, 255, 255);
    --Skyway__Sintra: rgb(135, 178, 216);
    --AshleighBlue__Sintra: rgb(136, 168, 193);
    --YolkYellow__Sintra: rgb(253, 199, 0);
    --fondo__card: rgba(253, 198, 0, 0.692);
    --RooibosTea__Sintra: rgba(192, 57, 50, 0.616);






    /* Definir las variables de las medidas de dispositivo */
    --mqMinWidth: 420px;
}
